
.Navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  background: rgba(0,0,0,0.3);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.icon{
  width: 100%;
}
.menu{
  display: flex;
  gap: 1em;
  font-size: 18px;
}


/* nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

nav a:hover{
  background: rgba( 0,0,0,0.3);
}

nav a.active{
  background: var(--color-bg);
  color: var(--color-white);
} */